@CHARSET "UTF-8";

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
		"HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: #4a4a4a;
}

/*コースデザイン*/
.course-container {
	background-color: #e3ffe9;
	color: white;
}

.course-name {
	width: 180px;
	padding: 8px 12px;
	background-color: rgba(0, 173, 26, 0.7);
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.course-panel {
	margin: 10px 20px;
	background-color: #c0c0c0;
	border-radius: 13px;
}

.course-detail {
	width: 60%;
	min-width: 200px;
	float: left;
}

.course-img {
	float: right;
	width: 40%;
	margin: 30px 0px;
}

.course-img-size {
	width: 300px;
}

/*メニューデザイン*/
.menu-container {
	background-color: #ffe8ff;
}

.menu-name {
	width: 180px;
	padding: 8px 12px;
	background-color: rgba(255, 0, 16, 0.7);
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

.menu-panel {
	width: 480px;
	margin: 10px 20px;
	background-color: #c0c0c0;
	border-radius: 13px;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.menu-detail {
	width: 300px;
	color: white;
}

.menu-img {
	width: 380px;
	margin: 30px 0px;
}

.menu-img-size {
	height: 150px;
	width: 150px;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	box-shadow: 0px 0px 0px 3px #F60;
	-moz-box-shadow: 0px 0px 0px 3px #F60;
	-webkit-box-shadow: 0px 0px 0px 3px #F60;

}

/*共通デザイン*/
h2 {
	color: #009246;
	font-size: 20px;
	border-left: solid 7px #ce2b37;
	border-bottom: solid 2px #ffffff;
	padding: 5px;
	width: 300px;
}

h3 {
	text-align: center;
	color: #ce2b37;
	text-decoration: underline;
	text-shadow: 1px 1px 2px silver;
	font-weight: bold;
}

/*float解除*/
.clearlist {
	content: "";
	display: block;
	clear: both;
}

/*slider* showMenu.jspに組み込んでいるものを今後移動する/


/*sliderの横につける「< >」ボタン*/
.swiper-container {
	margin: 10px 30px;
	text-align: center;
}

.swiper-slider {
	text-align: center;
}

/*jQuery使用したtopへ戻るボタン用*/
#page_top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	display: none;
}

#page_top a {
	background-color: #999;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 20px 20px;
}

#page_top a:hover {
	background-color: #666;
	text-decoration: none;
}

/*横並びの設定*/
/* 親要素(コンテナ) */
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* 子要素(アイテム) */
.flex-item {
	margin: 10px auto;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: #343434;
	color: #fff;
}